body{
    font-family: sans-serif;
    text-transform: uppercase;
    background: #005C78;
    color: #F3F7EC;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1200px;
    background-color: #A4343A;
}
#container > #white-box{
    height: 100px;
    width: 1200px;
    background-color: white;
}